.container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodeLabel {
    font-size: 10px;
    font-family: sans-serif;
}
